@import "abstracts/functions"; 
@import "abstracts/mixins"; 
@import "abstracts/variables"; 

@import "base/animations"; 
@import "base/base";
@import "base/typography"; 
@import "base/utilities";

@import "components/bg-video";
@import "components/button";
@import "components/card";
@import "components/composition";
@import "components/feature-box";
@import "components/story";

@import "layout/grid";
@import "layout/header";

@import "pages/home";

/* The new Normalizer. Older, no longer necessary */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* Use relative unit to respect user configuration */
    /* 100% / 16 pixels = 62.5% == 10px by default */
    /* This defines what 1rem is */
    font-size: 62.5%;
}
