.container {
  background-color: #eee;
  width: 1000px;
  margin: 30px auto;
  
  display: grid;
  grid-template-rows: repeat(2, 150px);
  //grid-template-columns: repeat(2, 150px) 1fr;
  //grid-template-columns: 50% 1fr 2fr;
  grid-template-columns: repeat(3, 1fr);
  
  // grid-row-gap: 30px;
  // grid-column-gap: 30px;
  grid-gap: 30px;
}

.item {
  padding: 20px;
  font-size: 30px;
  font-family: sans-serif;
  color: white;
  
  &--1 {
    background-color: orangered;
  }
  &--2 {
    background-color: yellowgreen;
  }
  &--3 {
    background-color: blueviolet;
  }
  &--4 {
    background-color: palevioletred;
  }
  &--5 {
    background-color: royalblue;
  }
  &--6 {
    background-color: goldenrod;
  }
}