* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #ccc;
  padding: 10px;
  
  display: flex;
  // row* / row-reverse / column / column-reverse
  flex-direction: row; 
  
  // start* / center / space-between / space-around / space-evenly / end
  justify-content: center; 
  
  // works if someone is higher 
  // stretch* / center / start / baseline
  align-items: center;
}

.item {
  background-color: orangered;
  padding: 30px;
  margin: 30px;
  color: #fff;
  font-size: 40px;
  
  //flex-grow: 1;
  
  &-1 {
    order: 1;
    flex: 1;
  }
  
  &-3 {
   height: 200px;
   padding-top: 45px;
  }
  
  &-4 {
    order: -2;
    //flex-grow: 2;
  }

  
  &-5 {
    align-self: end;
    order: -1; // All elements have 0 by default
    
    //flex-basis: 20%; // auto the default value
    
    // flex-basis: 300px; // decrease when there is no space
    // flex-shrink: 0; // Avoid resizing  
    
    //short hand:
    flex: 0 0 300px;
  }
}