* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #ccc;
  padding: 10px;

  display: flex;
  // row* / row-reverse / column / column-reverse
  flex-direction: row;

  // (flex-)start* / center / space-between / space-around / space-evenly / (flex-)end
  justify-content: center;

  // works if someone is higher 
  // stretch* / center / (flex-)start / baseline
  align-items: baseline;
}

.item {
  background-color: orangered;
  padding: 30px;
  margin: 30px;
  color: #fff;
  font-size: 40px;

  &-3 {
    height: 200px;
    padding-top: 45px;
  }
}