.container {
  width: 1000px;
  background-color: #eee;
  display: grid;
  margin: 20px auto;
  color: white;
  font-family: sans-serif;
  
  grid-template-rows: 75px 150px auto 75px;
  grid-template-columns: 1fr 1fr 1fr 200px;
  
  grid-gap: 20px;
  
  div {
    background-color: orangered;
    padding: 20px;
  }
  
  .grid-element--1 { //header
    grid-column: 1 / -1;
  }
  .grid-element--5 { //Sidebar
    grid-row: 2 / 4;
    grid-column: 4 / 5;
  }
  .grid-element--6 { // Main
    min-height: 300px;
    grid-column: 1 / span 3;
  }
  .grid-element--7 {
    grid-column: 1 / -1
  }
  
}