/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* The new Normalizer. Older, no longer necessary */
*,
*::after,
*::before { 
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* Use relative unit to respect user configuration */
    /* 100% / 16 pixels = 62.5% == 10px by default */
    font-size: 62.5%;
}

/*  As font properties as usually inherited, we use body, not '*'
    Every element inherited fro body will use this font props    */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
    padding: 3rem;

    box-sizing: border-box;
}

.header {
    height: 95vh; /* The viewport height */
    background-image: linear-gradient(
      to right bottom,
      #7ed56fcc,
      #28b485cc),
    url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box{
    position: absolute;
    top: 4rem;  /* from parent with position relative*/
    left: 4rem;
}

.logo{
    height: 3.5rem;
}

/* .logo:hover{
    animation: moveInRight 1s ease-out;
} */

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    /* Set the center point to the center of the box, not the top left
       corner */
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary{
    color: #fff;
    text-transform: uppercase;

    /* hack to avoid little shaking in animations*/
    backface-visibility: hidden;
    margin-bottom: 6rem;
}
.heading-primary-main{
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    
    animation-name: moveInLeft;
    animation-duration: 1s;
    /* animation-delay: 3s; */
    /* animation-iteration-count: 3; */
    animation-timing-function: ease-out;
}
.heading-primary-sub{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    margin-left: -1.75rem;

    animation: moveInRight 1s ease-out;
}

/*
Two general types:
1- define the animation
2- simple use transition 
*/
@keyframes moveInLeft {
    /* Start */
    0% {
        opacity: 0;
        transform: translateX(-10rem);
        /* transform: translateX(-10rem) rotate(-20deg); */
    }
    /* 60% {
        transform: rotate(20deg);;
    } */
    80% {
        transform: translateX(1rem)
    }
    /* Finish */
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    /* Start */
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% { 
        transform: translateX(-1rem)
    }
    /* Finish */
    100% { 
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    /* Finish */
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* link pseudo class*/
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block; 
    /* to center it, the parent has 'text-align: center' */

    border-radius: 10rem;
    /* 'transition' has to be defined in the initial state */
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem #0003;
}

/* Clicked */
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem #0003;
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: '';    /* mandatory */
    display: inline-block;
    /* Same as the button */
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    /* behind the actual button */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    transition: all .4s;
}

.btn-white::after{
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0;
}

.btn-animated{
    animation: moveInBottom .5s ease-out .75s;
    /* Applies the properties of the 0% animation */
    animation-fill-mode: backwards;
}